#Task1 div {
    border-style: solid;
    border-width: 3px;
    height: 200px;
    width: 300px;
    position: relative;
    left: 25%;
    top: 30px;
}

#Task1 div b {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 25px;
}

#Task1 div img {
    width: 100px;
}

#Task1 div:hover b {

    color: white;
    
    
}
#Task1 div:hover {
    position: relative;
    
    background-color: rgba(35,130,199,255);
    transform: scale(1.1);
}
#Task1 div .hover-img{
    width: 100px;
    
    display: none;
}

#Task1 div:hover .hover-img{
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;
}






